<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Task of Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{all.title}"></h1>
    <h2 th:text="#{input.title}"></h2>
    <p th:text="#{input.message}"></p>

    <!-- previous に値があればメッセージを表示する -->
    <p th:if="${previous != null}" 
       th:text="#{previous.message(${previous})}"></p>

    <form method="post" action="/output">
        <input type="text" name="inputValue" th:value="${previous}">
        <button type="submit" th:text="#{button.submit}"></button>
    </form>
</body>
</html>
